[submodule "Scripts/terraformer-wkt-parser"]
	path = Scripts/terraformer-wkt-parser
	url = https://github.com/Esri/terraformer-wkt-parser.git
[submodule "Scripts/Terraformer"]
	path = Scripts/Terraformer
	url = https://github.com/Esri/Terraformer.git
